// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-textarea
  color: #384158
  background-color: #F2F2F2
  font-family: 'YuGothic'
  font-size: 16px
  letter-spacing: .1em
  line-height: 1.7em
  box-sizing: border-box
  padding: 150px
  -webkit-font-smoothing: subpixel-antialiased
  text-align: justify

.config-textarea
  background-color: #384158
  color: #F2F2F2
  font-family: monospace
